$colorPackage1:(primary: #3366FF,
primary-1: #D6E4FF,
primary-2: #ADC8FF,
primary-3: #6690FF,
primary-4: #254EDB,
primary-5: #1939B7,
success: #76D820,
success-1: #EFFDD1,
success-2: #DBFBA5,
success-3: #A0E753,
success-4: #5AB917,
success-5: #429B10,
info: #3FBAFC,
info-1: #D8FBFE,
info-2: #B2F2FE,
info-3: #6ED4FD,
info-4: #2E92D8,
info-5: #1F6EB5,
warning: #FFE032,
warning-1: #FFFBD6,
warning-2: #FFF6AD,
warning-3: #FFEA65,
warning-4: #DBBC24,
warning-5: #B79A19,
danger: #FF6326,
danger-1: #FFEBD3,
danger-2: #FFD2A8,
danger-3: #FF955C,
danger-4: #DB441B,
danger-5: #B72A13,
neutral-1: #f2f2f2,
neutral-2: #e8e9e9,
neutral-3: #d1d3d4,
neutral-4: #babdbf,
neutral-5: #808488,
neutral-6: #666a6d,
neutral-7: #4d5052,
neutral-8: #212122,
gray: #999999,
light-gray: #dddddd)
